body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:104px;
  background:inherit;
  background-color:rgba(158, 153, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:104px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:23px;
  width:57px;
  height:57px;
  display:flex;
  opacity:0.7;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:30px;
  width:43px;
  height:43px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:23px;
  width:165px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:61px;
  width:148px;
  height:31px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:66px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:157px;
  width:254px;
  height:66px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:176px;
  width:207px;
  height:29px;
  display:flex;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:66px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:282px;
  width:254px;
  height:66px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:301px;
  width:207px;
  height:29px;
  display:flex;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:66px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:157px;
  width:254px;
  height:66px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:176px;
  width:207px;
  height:29px;
  display:flex;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:66px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:157px;
  width:254px;
  height:66px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:176px;
  width:207px;
  height:29px;
  display:flex;
  font-family:'Heiti SC ', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#420080;
  text-align:center;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:66px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:19px;
  width:103px;
  height:66px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u30 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:315px;
  width:150px;
  height:150px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
